<div class="card">
  <div class="card-header">계산기 v0.2</div>
  <div class="card-body">
    <div class="form-group">
        <div class="form-group d-flex flex-row">
            <input [(ngModel)]='num1' type="number" name="num1" class="form-control">
            <input [(ngModel)]='num2' type="number" name="num2" class="form-control">
        </div>
    </div>
    <div class=text-center>
    <div class="btn-group" role="group" aria-label="caculate">
      <button class="btn btn-success" (click) = 'sum()'> 더하기 </button>
      <button class="btn btn-success" (click) = 'diff()'> 빼기 </button>
      <button class="btn btn-success" (click) = 'mult()'> 곱하기</button>
      <button class="btn btn-success" (click) = 'div()'> 나누기</button>
    </div>
    </div>
    <div class="card-footer text-center">
        <h5>{{resultheading}}</h5>
        <h4>결과 값 : {{result}}</h4>
    </div>
  </div>
</div>
