<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="./">계산기</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink = "/cal">계산기 버전1</a>
      <a class="nav-item nav-link" routerLink = "/cal2">버튼식 계산기</a>
      <a class="nav-item nav-link" href="/cal3">다항식 계산기</a>
      <a class="nav-item nav-link" href="/todo">To Do List</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
