.maindisplay {
  background: lightgrey;
  height: calc(100% / 3);
  padding: 10% !important;
  font-size: 3rem;
  text-align: right;
  font-family: Courier, monospace;
  overflow: auto;
}
.subdisplay {
border-bottom: 1px solid black;
height: 25%;
font-size: 2rem;
overflow: auto;
}
.keypad {
  height: calc(200% / 3);
}
.keys {
  margin: 0;
  width: 25%;
  height: 20%;
  background: whitesmoke;
  color: black;
  padding: 5%;
  border: 1px solid;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}
.one-line {
  display: inline-block;
}
