<div class="maindisplay">
  <div class="subdisplay">{{ input }}</div>
  {{ output }}
</div>
<div class="keypad">
<div class="keys ackey one-line" (click)="allClear()">AC</div>
<div class="keys opkey one-line" (click)="pressKey('/')">/</div>
<div class="keys numkey one-line" (click)="pressKey('7')">7</div>
<div class="keys numkey one-line" (click)="pressKey('8')">8</div>
<div class="keys opkey one-line" (click)="pressKey('*')">x</div>
<div class="keys numkey one-line" (click)="pressKey('4')">4</div>
<div class="keys numkey one-line" (click)="pressKey('5')">5</div>
<div class="keys numkey one-line" (click)="pressKey('6')">6</div>
<div class="keys opkey one-line" (click)="pressKey('-')">-</div>
<div class="keys numkey one-line" (click)="pressKey('1')">1</div>
<div class="keys numkey one-line" (click)="pressKey('2')">2</div>
<div class="keys numkey one-line" (click)="pressKey('3')">3</div>
<div class="keys opkey one-line" (click)="pressKey('+')">+</div>
<div class="keys numkey zerokey one-line" (click)="pressKey('0')">0</div>
<div class="keys numkey one-line" (click)="pressKey('.')">.</div>
<div class="keys equalkey one-line" (click)="getAnswer()">=</div>
</div>
